.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    padding: 30px 35px;
    background: rgb(69, 145, 227);
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

body{
    background-color: rgb(55, 118, 185);
}

h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}
.datas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
label{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    margin: 20px;
}
input{
    margin-top: 4px;
    height: 29px;
    width: 600px;
}
.btn-save > input{
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.425);
    cursor: pointer;
    border: none;
    border-radius: 15px;
    background-color: #324960;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    color: white;
    padding: 10px;
    width: 270px;
    height: auto;
}
.btn-save > input:hover{
    transform: translate(-1px, -1px);
    text-decoration: underline;
}
.field{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 13px 0px;
}
p{
    color: white;
    font-style: italic;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 650px){
    .container{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        padding: 30px 35px;
        background: rgb(69, 145, 227);
        border-radius: 20px;
        box-shadow: 0px 10px 40px #00000056;
    }
    input{
      width: 360px;
    }
}