*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: rgb(69, 145, 227);
}
h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}
.btn-bottom{    
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-bottom > a{
    text-align: center;
    box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.425);
    cursor: pointer;
    border: none;
    border-radius: 15px;
    background-color: #324960;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    color: white;
    padding: 10px;
    width: 270px;
}
.btn-bottom > a:hover{
    transform: translate(-1px, -1px);
    text-decoration: underline;
}
.table-wrapper{
    margin: 54px 25px 25px;
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #324960;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #3f5c79;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}
a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}
a:hover{
    text-decoration: underline;
}
@media (max-width: 767px) {
    .fl-table {
        margin-top: -34px;
        display: block;
        width: 100%;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        width: 65px;
        text-align: center;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        width: 125px;
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        width: 125px;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}